<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Модели в Django</title>
</head>
<body class="container">
    {% if chats.count > 0 %}
    <h2>Список чатов</h2>
    <table>
        <tr>
          <th>Id</th>
          <th>topic</th>
          <th>creator</th>
        </tr>
        {% for chat in chats %}
        <tr>
          <td>{{ chat.id }}</td>
          <td>{{ chat.topic }}</td>
          <td>{{ chat.host.username }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>